/* reset css */
@import "./scss/reset";

/* variables */
@import "./scss/variables";

/* mixin */
@mixin border-style($width, $style, $color) {
  border: $width $style $color;
}

@mixin button-padding($updown, $leftright) {
  padding: $updown $leftright;
}

body {
  width: 100%;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
}

.buttons {
  button {
    background: $main-light-color;
    display: inline-block;
    @include button-padding(20px, 150px);
    font-size: 18px;
    &.approval {
      @include border-style(2px, solid, $main-blue-color);
    }
    &.refuse {
      @include border-style(2px, dashed, $main-red-color);
    }
  }
}
