/* reset css */
@import "./scss/reset";

/* variables */
@import "./scss/variables";

@mixin headline {
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 20px;
  position: relative;
  span {
    color: $main-blue-color;
  }
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 4px;
    background: $main-red-color;
  }
}

.heading {
  @include headline;
}

.news-heading {
  @include headline;
}
